/*Below is PREFOOTER code*/
.prefooter-container {
	display: flex;
	flex-wrap: wrap;
	background-color: #002540;
	color: white
}

.prefooter-wrapper {
	display: flex;
	width: 100%;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.8rem;
}

/*Below is FOOTER code*/
footer {
	display: inline-block;
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right 0.5rem;
}

/*FOLLOW ME ICONS*/

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-instagram {
  color: white;
}


.jumbotron {
 	background-image: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80); 
 	text-align: center;
 	color: white;
 	font-size: 100px;
 	background-repeat: no-repeat;
  	background-attachment: fixed;
  	padding-top: 20%;
  	padding-bottom: 20%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}

.jumbotron > p {
	font-family: papyrus;

}
 
/*MAP*/

.map {
  	width: 90%;
	height: 0;
	margin: 0 auto;
	padding-top: 33.33%;
	position: relative;
		}
		

.map iframe {
	width: 100%;
	height: 100%; /* had to specify height/width */
	position: absolute;
	top: 0; 
	right: 0;
	left: 0; 
	bottom: 0;   
}



.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:500px;
	width:600px;
}

.map	{
	position:relative;
	text-align:right;
	height:500px;
	width:600px;
}


.whatdo {
	background-image: url(./images/backwhat.png);
}

